body{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}
.header-section{
    width: 100%;
    display: flex;
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
    background-position: left top;
    margin-bottom: 100px;
}
.container{
    width: 50%;
}
.container h1{
    font-size: 50px;
}
.container h2{
    font-size: 40px;
}
.container img{
    width: 80%;
    margin-top: 20px;
}
.orange-color{
    color: orange;
}
.left{
    margin-left: 50px;
    margin-top: 80px;
}
.right{
   margin-top: 180px;
}
.button{
    font-size: 15px;
    font-weight: 600;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
    background-image: linear-gradient(rgba(255, 0, 0, 0.74), rgba(255, 166, 0, 0.774));
}
.middle-section{
    display: flex;
}

