body{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}
.header-section{
    width: 100%;
    display: flex;
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
    background-position: left top; 
}
.container{
    width: 50%;
}
.container h1{
    font-size: 50px;
}
.container h2{
    font-size: 40px;
}
.container img{
    width: 80%;
    margin-top: 20px;
}
.orange-color{
    color: orange;
}
.left{
    margin-left: 50px;
    margin-top: 80px;
}
.right{
   margin-top: 180px;
}
.button{
    font-size: 15px;
    font-weight: 600;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
    background-image: linear-gradient(rgba(255, 0, 0, 0.74), rgba(255, 166, 0, 0.774));
}
.middle-section{
    display: flex;
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.experience h2{
    font-size: 50px;
}
.experience h3{
    font-size: 20px ;
    margin: 50px 0;
}
.experience-content{
    display: flex; 
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat ;
    background-position: left;
    background-size: 80px;
}
.full-stack, .digi-marketer{
    margin: 40px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 10px 15px 40px grey; 
}
.full-stack{
    border-left: 8px #FF6347 solid;
}
.digi-marketer{
    border-left: 8px #0000FF solid;
}
footer{
    background-image: linear-gradient(#FA735D, #FF3887);
    height: 40px;
    text-align: center;
    color: white;
    margin-top: 20px;
    padding: 60px;
}
